/* COLORS */

:root {
  --pink: #ff0d87;
  --white-smoke: #f5f5f5;
  --speed: 500ms;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
}

/* FONTS */

@font-face {
  font-family: GalanoGrotesqueExtraBold;
  src: url("./assets/fonts/Galano Font/GalanoGrotesqueExtraBold.otf");
}

@font-face {
  font-family: GalanoGrotesqueBold;
  src: url("./assets/fonts/Galano Font/GalanoGrotesqueBold.otf");
}

@font-face {
  font-family: GalanoGrotesqueMedium;
  src: url("./assets/fonts/Galano Font/GalanoGrotesqueMedium.otf");
}

@font-face {
  font-family: GalanoGrotesqueRegular;
  src: url("./assets/fonts/Galano Font/GalanoGrotesqueRegular.otf");
}

/* HEADER */

h2 {
  font-family: GalanoGrotesqueBold;
  font-size: 32px;
}

/* SELECTIONBAR */

.menuContainer {
  padding-bottom: 1rem;
}

.buttonActiveSubDivider.active {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 4px;
  background-color: var(--pink);
}
.buttonActiveSubDivider.inactive {
  display: none !important;
}

.selectionButton {
  position: relative;
  font-size: 16px;
  background: transparent;
  border-width: 0;
  font-family: GalanoGrotesqueRegular;
  margin-inline-start: 1rem;
  cursor: pointer;
}

.selectionButtonText.inactive {
  height: 47px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 400;
}

.selectionButtonText.active {
  height: 47px;
  color: var(--pink);
  display: inline-flex;
  align-items: center;
  position: relative;
  font-family: GalanoGrotesqueBold;
}

.selectionButtonContainer {
  display: flex;
  flex-direction: row;
  position: sticky;
  font-family: GalanoGrotesqueRegular;
}

.selectionButtonContainer {
  justify-content: center;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;
}

.input {
  width: 200px;
  height: 48px;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  border-width: 1px;
  border-color: #dedede;
  padding-inline-start: 46px;
  padding-inline-end: 46px;
  font-size: 14px;
}

.placeholderDiv {
  width: 200px;
  height: 48px;
}

.searchIconContainer {
  left: 0;
  width: 46px;
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 2;
  pointer-events: none;
  color: initial;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: center;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

.searchContainer.active {
  border-color: var(--pink);
  border-width: 2px;
}
.searchContainer.inactive {
  border-color: #dedede;
  border-width: 1px;
}

/* FILTER SECTION */

.filterSectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--white-smoke);
}

.filterButton.active {
  display: flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  height: 26px;
  min-width: auto;
  font-size: 16px;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  background: none;
  color: var(--pink);
  margin: 0px;
  padding: 0px;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  cursor: pointer;
}

.filterButton.inactive {
  display: flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  height: 26px;
  min-width: auto;
  font-size: 16px;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  background: none;
  color: black;
  margin: 0px;
  padding: 0px;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  cursor: pointer;
}

.filterSectionDivider {
  display: flex;
  justify-content: space-between;
}

.CalendarIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin-inline-end: 1rem;
}

.filterIconContainer {
  margin-inline-end: 1rem;
}

/* ITEM LIST */

.itemBoxListContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.itemBoxContainer {
  margin-bottom: 1rem;
  max-width: 1064px;
  width: 100%;
  grid-template-columns: 200px 1fr;
  position: relative;
  display: grid;
}

.dateContainer {
  min-height: 204px;
  background: black;
  position: relative;
  min-height: 212px;
  padding: 0.25rem;
}

.bannerText {
  white-space: nowrap;
  min-width: 110px;
  top: 16px;
  left: auto;
  right: -5px;
  max-width: none;
  display: inline-block;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: GalanoGrotesqueBold;
  min-height: 22px;
  color: white;
  min-width: 95px;
  text-align: center;
  background: #9fae5d;
  position: absolute;
  right: auto;
  z-index: 1;
  max-width: 120px;
}

.innerDateContainer {
  align-items: center;
  justify-content: flex-start;
  padding: 35px 100px 35px 12px;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.dateText {
  font-family: GalanoGrotesqueBold;
  font-size: 16px;
  line-height: 2rem;
  color: var(--pink);
}

.eventImageContainer {
  inset: 16px -308px 16px 108px;
  min-width: 308px;
  position: absolute;
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;
  max-width: 100%;
  padding-inline: 0px;
  display: flex;
  align-items: center;
}

.informationHeaderText {
  color: black;
  position: static;
  font-size: 18px;

  overflow: hidden;
}

.otherHalfofBox {
  gap: 0px 33px;
  grid-template-columns: 1fr 166px;
  padding-left: 280px;
  padding-top: 29px;
  padding-bottom: 27px;
  display: grid;
}

.informationContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  word-wrap: break-word;
}

.buttonSectionContainer {
  justify-content: center;
  flex-direction: column;
  display: flex;
  word-wrap: break-word;
}

.informationItemButtonText {
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  color: white;
  height: 3rem;
  min-width: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
}

#addToCalendarButton {
  margin-top: 0.5rem;
  border-width: 0;
  background-color: white;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  font-size: 16px;
  font-family: GalanoGrotesqueRegular;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.addToCalendarText {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
}

#itemBoxLocationText {
  margin-top: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
  margin-left: 5px;
  font-size: 14px;
  color: grey;
  overflow: hidden;
}

#locationIcon {
  margin-inline-end: 0.5rem;
}

/* DROPDOWN MENU */

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  display: none !important;
  position: absolute;
}

.dropdownItem {
  cursor: pointer;
  display: inline-flex;
  vertical-align: top;
  position: relative;
  align-items: center;
}
